<div class="col-6 col-md-6">
    <form asp-action="Search" asp-controller="Client" method="get">



        <div class="col-auto">
            <input type="text" class="form-control me-1" id="search" name="searchterm" placeholder="Search" />
        </div>
        <div class="col-auto">

            <button class="btn btn-dark mt-lg-3" type="submit" onclick="searchClient()">Search by Name</button>
        </div>
    </form>
</div>